-f https://download.pytorch.org/whl/torch_stable.html
fastapi
uvicorn
transformers
-f https://download.pytorch.org/whl/cu102/torch_stable.html
torch==1.10.1+cu102
-f https://download.pytorch.org/whl/cu102/torch_stable.html
torchvision==0.11.2+cu102
-f https://download.pytorch.org/whl/cu102/torch_stable.html
torchaudio===0.10.1+cu102
